@import "tailwindcss";

:root {
  --bg_primary: #f3f5f7;
  --max_width: 1120px;
  --text_primary: #6c7275;
  --border_primary: #e8ecef;
}

@utility container {
  @variant sm {
    /* padding-inline: 20px; */
  }

  @variant lg {
    /* padding-inline: 80px; */
  }

  @variant xl {
    max-width: 1120px;
  }
}

.bg_primary {
  background-color: var(--bg_primary);
}

.text_primary {
  color: var(--text_primary);
}

.font_Inter {
  font-family: var(--font-inter);
}

.font_poppins {
  font-family: var(--font-poppins);
}

.border_primary {
  border-color: var(--border_primary);
}

label::before {
  position: absolute;
  content: "";
  background-image: url(../../public/icon/search1.svg);
  width: 24px;
  height: 24px;
  top: 10px;
  left: 16px;
}


.radius_6{
  border-radius: 6px;
}
.radius_8{
  border-radius: 8px;
}