@import "tailwindcss";

:root {
  --bg_primary: #f3f5f7;
  --max_width: 1120px;
  --text_primary: #6c7275;
  --border_primary: #e8ecef;
  /* --swiper-theme-color: #ffff; */
}

@utility container {
  @variant sm {
    /* padding-inline: 20px; */
  }

  @variant lg {
    /* padding-inline: 80px; */
  }

  @variant xl {
    max-width: 1120px;
  }
}

body {
  font-family: var(--font-poppins);
}
.bg_primary {
  background-color: var(--bg_primary);
}

.text_primary {
  color: var(--text_primary);
}

.font_inter {
  font-family: var(--font-inter);
}

.font_poppins {
  font-family: var(--font-poppins);
}

.border_primary {
  border-color: var(--border_primary);
}

label::before {
  position: absolute;
  content: "";
  background-image: url(../../public/icon/search1.svg);
  width: 24px;
  height: 24px;
  top: 10px;
  left: 16px;
}

.radius_6 {
  border-radius: 6px;
}
.radius_8 {
  border-radius: 8px;
}

#hero_slider .swiper-button-prev::after {
  background-image: url(../../public/icon/arrow-left.svg);
}
#hero_slider .swiper-button-next::after {
  background-image: url(../../public/icon/arrow-right.svg);
}

#hero_slider .swiper-button-next {
  right: 32px;
}
#hero_slider .swiper-button-prev {
  left: 32px;
}
#hero_slider .swiper-button-disabled {
  opacity: 1;
}
#hero_slider .swiper-button-prev,
#hero_slider .swiper-button-next {
  background-color: white;
  border-radius: 50%;
  width: 52px;
  height: 52px;
}

#hero_slider .swiper-button-prev::after,
#hero_slider .swiper-button-next::after {
  content: "";
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 32px;
  width: 32px;
}

#hero_slider .swiper-pagination-bullet {
  background-color: white !important;
  opacity: 1;
}
#hero_slider p strong {
color: black;
}
#hero_slider h1 strong {
  color: var(--text_primary);
}
#hero_slider .swiper-pagination-horizontal {
  bottom: 32px;
}
#hero_slider .swiper-pagination-bullet-active {
  width: 30px;
  height: 8px;
  border-radius: 100px;
}

#hero_slider h2 span {
  color: var(--text_primary);
}
#hero_slider p span {
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.heading {
  font-weight: 400;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: -0.4px;
}
#breadCrumb .active {
  color: black;
}
#breadCrumb .active #breadIcon {
  display: none;
}

#tabs .active {
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-radius: 8px;
  padding: 16px 14px;
  color: black;
}

#imageGroup > div:nth-child(1) {
  order: 0;
}
#imageGroup > div:nth-child(2) {
  order: 2;
}
#imageGroup > div:nth-child(3) {
  order: 1;
}
#imageGroup > div:nth-child(4) {
  order: 3;
}

@media (max-width: 767px) {
  #hero_slider .swiper-button-next,
  #hero_slider .swiper-button-prev {
    display: none !important;
  }
  .heading {
    font-size: 34px;
    line-height: 38px;
    letter-spacing: -0.6px;
  }
}

@media (min-width: 767px) {
  #tabs .active {
    border-bottom: 1px solid black;
    color: black;
    display: block;
    border-top: none;
    border-left: none;
    border-right: none;
    width: auto;
    border-radius: 0px;
    padding: 0px;
  }
  
}


@media (min-width: 1024px) {
  #imageGroup > div:nth-child(1),
  #imageGroup > div:nth-child(2),
  #imageGroup > div:nth-child(3),
  #imageGroup > div:nth-child(4)
  {
     order: initial;
    
  }
}